@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

/* Universal Styles */
*{
    padding: 0;
    margin: 0;
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
body{
    
}
.container{
    max-width: 1160px;
    margin: 0 auto;
    display: flex;
    padding: 16px;
}
.btn{
    padding: 10px;
    color: #fff;
    border: none;
    border-radius: 12px;
    transition: 0.4s;
    background-color: #000;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.875rem;
    width: 197px;
}
.btn:hover{
    background-color: #FEA301;
}
@media screen and (max-width: 992px){
    .btn{
        font-size: 1rem;
        width: 131px;
        padding: 6px;
    }
    .container{
        flex-wrap: wrap;
        
    }
}

h1, h2, h3, h4, h5, h6{
    font-weight: 700;
}
h1{
    font-size: 3.5rem;
    line-height: 3.8125rem;
}
h2{
    font-size: 2.875rem;
    line-height: 3.5625rem;
}
h3{
    font-size: 1.5rem;
    line-height: 1.875rem;
} 
h4{
    font-size: 0.9375rem;
    line-height:  1.75rem;
} 

@media screen and (max-width: 992px) {
    h1{
        font-size: 2rem;
        line-height: normal;
    }
    h2{
        font-size: 1.625rem;
        line-height: normal;
    }
    h3{
        font-size: 1rem;
        line-height: 1.25rem;
    }
    h4{
        font-size: 0.5625rem;
        line-height: 1.0625rem;
    }
}
/* Text Colors */
.text-white{
    color: #fff; 
}
.text-sky{
    color: #01ACFD;
}
.text-orange{
    color: #FEA301;
}
.text-cyan{
    color: #05D4DF;
}
.text-purple{
    color: #5D58EF;
}
.text-black{
    color: #000;
}
/* BG Colors */
.bg-green{
    background-color: #95B226;
}
.bg-cyan{
    background-color: #3CD8E8;
}
.bg-purple{
    background-color: #5D58F0;
}
.bg-black{
    background-color: #000;
}
.bg-orange{
    background-color: #FEA301;
}


/* Header Styling */
header{
    padding: 20px 10px;
    align-items: center;
    justify-content: space-between;
}

.brand{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.logo{
    height: 62px;
    width: 62px;
}
.logo-text{
    font-weight: 700;
    font-size: 32px;
    text-transform: uppercase;
    text-decoration: none;
}

.navbar{}
.nav-links{
    display: flex;
    list-style: none;
    gap: 32px;
}
.nav-item{

}
.nav-item a{
    font-size: 20px;
    font-weight: 500;
    text-decoration:none;
    transition: linear 0.3s;
}
.nav-item a:hover{
    font-weight: 700;
}

.nav-btn-box > .btn > a{
    text-decoration: none;
}
.nav-btn-box > .btn:hover{
    background-color: #000;
}
.mobile-menu{
    border: none;
    display: none;
}
.mobile-menu img{}

@media screen and (max-width: 992px) {
    .logo{
        height: 46px;
        width: 46px;
    }
    .logo-text{
        display: none;
    }
    .nav-btn-box > .btn{
        display: none;
    }
    .nav-links{
        display: none;
    }
    .mobile-menu{
        display: block;
    }
    header{
        border-bottom: 1px solid #FEA301;
        padding: 12px 16px;
    }

}

/* Hero Styling */

.hero > .container{
    align-items: center;
    gap: 50px;
}

.column-1 *{
    margin-bottom: 24px;
    max-width: 640px;
}

.column-2{
    max-width: 468px;
}
.hero-img{
    width: 100%;
}

@media screen and (max-width: 992px) {
    .column-1 *{
        margin-bottom: 18px;
    }
    .column-1{
        order: 2;
        margin: 0 auto;
        text-align: center;
    }
    .column-2{
        order: 1;
        margin: 0 auto;
    }
}

/* Student Curriculum */
.student-curriculum{
    
    background-image: url('../assets/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.student-container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.student-container .container{
    margin: 80px auto;
    justify-content: center;
    gap: 28px;
}

.curriculum-card{
    width: 370px;
    height: 480px;
    border-radius: 18px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
}
.curriculum-card *{
    margin-bottom: 32px;
}
.gr-blue{
    border: 1px solid rgb(222, 245, 255);
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.gr-orange{
    border: 1px solid rgb(255, 244, 220);
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.gr-purple{
    border: 1px solid rgb(242, 232, 255);
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.curriculum-card img{
    width: 150px;
}
.curriculum-card h3{}
.curriculum-card p{
    text-align: center;
}
.curriculum-card a{
    text-decoration: none;
    font-weight: 700;
    margin-bottom: 0;
    transition: 0.4s;
}
.curriculum-card a:hover{
    transform: scale(1.2);
}

.slider-btn{
    background-color: #FEA301;
    border: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: 10px;
}

@media screen and (max-width: 992px){
    .curriculum-card{
        width: 90%;
       height: auto;
       padding: 36px 28px 36px 28px;
    }
    .slider-btn{
        display: none;
    }
    .student-container .container{
        margin: 0;
    }
}

/* Our Stories */
.our-stories-section{
    background-image: url('../assets/bg.png'), linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 40px 0;
}
.our-stories-section-container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.our-stories-section .container{
    margin: 60px auto;
    justify-content: center;
    gap: 28px;
}
.story-card{
    background-color: #fff;
    position: relative;
    border-radius: 16px;
}
.big-card{
    max-width: 540px;
}
.big-card p, h3{
    padding: 20px;
}
.big-card img{
    border-radius: 16px 16px 0 0;
}
.big-card .date-stamp{
    bottom: 40%;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
}
.grid-container .story-card{
   
}
.grid-container > .story-card > img{
    width: 100%;
    border-radius: 16px 16px 0 0;
}
.date-stamp{
    position: absolute;
    left: 25px;
    bottom: 100px;
    padding: 10px 20px;
    border-radius: 20px;
    color: #fff;
    font-weight: 700;
    font-size: 0.7rem;
}
.story-card h4{
    padding: 25px 30px;
}
 @media screen and (max-width: 992px){
    .big-card {
        display: none;
    }
    .story-card .date-stamp{
        bottom: 35%;
    }
    .our-stories-section .container{
        margin: 0;
    }
    .our-stories-section-container{
        margin: 0px auto;
        padding: 40px auto;
    }
} 